.popup {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  z-index: 10;

  background: rgb(58, 58, 58);
  border-radius: 10px;
  border: 1px solid orange;

  height: 300px;
  width: 500px;

  padding: 50px 10px;
}
.popup--edit {
}
.popup__form--edit {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.form__input--edit {
  width: 100%;
}
.popup__button--close {
  position: absolute;
  right: 10px;
  top: 10px;

  width: 30px;
  height: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.popup__button-change {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 5px;

  padding: 10px;
  width: 100%;

  margin-top: 40px;
}
